body {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

header,
main,
footer {
    padding: 0 30px;
}

header {
    width: 100%;
    border-bottom: 3px solid black;
    text-transform: uppercase;
}

main {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
    width: 100%;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    position: sticky;
    bottom: 0px;
}