html {
    font-family: Helvetica, sans-serif;
}

header *{
    display: inline-block;
}

.first {
    font-size: 22px;
    font-weight: 700;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: green;
    margin-right: 50px;
}

hr {
    border: 1px solid black;
}