body {
    padding: 0;
    margin: 0;
    background-color: rgb(238, 238, 238);
}

.page {
    padding: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1,
h2,
h3,
blockquote {
    font-family: "Georgia", serif;
}

header {
    width: 100%;
    text-transform: uppercase;
    border-bottom: 3px solid black;
}

main {
    width: 70%;
}

.container {
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    position: relative;
    margin-bottom: 20px;
}

.first-container {
    height: 180px;
    width: 120px;
    float: right;
    margin-left: 20px;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90;
    width: 90%;
}

.blockquote-container {
    display: flex;
}

.blockquote-container > p {
    width: 100%;
}

blockquote {
    width: 100%;
    color: gray;
    border-left: 3px solid gray;
    padding-left: 30px;
}

#author {
    text-align: right;
}

aside {
    width: 25%;
}

ul {
    list-style-type: square;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

.second-container {
    height: 120px;
    width: 180px;
    float: left;
    margin-right: 20px;
}