body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.3), 0 4px 6px -4px rgb(0 0 0 / 0.3);
}